.news-wrapper {
  
  display: flex;
  /* width: 1040px; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* .news-wrapper>* {
  margin: 10px;
} */

container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}